.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 2em;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #000;
    color: #fff;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  