footer {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
  }
  
  .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  .footer-copyright {
    text-align: center;
  }
  