.Navbar {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Links {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .SignIn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Navbar a {
    text-decoration: none;
    color: #333;
  }
  
  .Navbar a:hover {
    text-decoration: underline;
    color: #000;
  }
  